<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataBaseKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SOWidjet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwiftExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftOrganizer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F5725551B0F5DDA003DBDEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F57256D1B0F5DDB003DBDEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FD44ADA1B59469E000A4FB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FD44AEF1B5A04A8000A4FB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FD44B061B5A562A000A4FB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FD44B1B1B5A9883000A4FB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FD44B251B5A9884000A4FB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FD44B401B5A98D6000A4FB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FD44B4A1B5A98D6000A4FB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
